
input, select, a{
	height:30px;
	font-size:18px;
}
span,a,label{
	font-size:18px;
	font-family:microsoft yahei;
	margin:0;
	padding:0;
	display:inline-block;
	line-height:30px;
}
ul,li{
	list-style:none;
	font-size:18px;
	margin:0px;
	padding:0px;
}
.rightWrap{
	width:100%;
	overflow:auto;
}
.navDiv{
	width:1350px;
	background-color:#ddd;
	border-bottom:4px solid red;
}
.navDiv a{
    cursor: pointer;
    width: 210px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    font-family: microsoft yahei;
    border-radius: 7px 7px 0px 0px;
    background-color: orange;
}
.navDiv a.clk{
	background-color:red;
}
.functionDiv{
	margin-top:10px;
}
.functionDiv .searchSelect{
	width:100px;
}
.functionDiv .searchInput{
	width:600px;
	margin-top:5px;
}
.functionDiv .btnSrch{
	width:50px;
}

.advSrch{
	height:50px;
	width: 1350px;
	background-color:#ddd;
	margin-top:10px;
}
.advSrch .timeDiv,
.advSrch .resourceFileDiv,
.advSrch .siteName,
.advSrch .itemNum,
.advSrch .location,
.advSrch .iresult,
.advSrch .advSrchBtn{
	display:inline-block;
	margin:5px 2px;
}
.location .tip{
	width:100px;
}
#startTime, #endTime{
	width:105px;
}
.resourceFileDiv input, .siteName input, .itemNum select{
	width:440px;
	top:5px;
}
.itemNum select{
	width:135px;
}
.advSrchBtn input{
	cursor:pointer;
}
/**
*	表格样式
*/
.listDiv{
	margin-top:20px;
	width:1350px;
	max-width:calc(100% - 20px);
	text-align:center;
}
.listDiv ul li{
	width:1350px;
}
.listDiv ul li.funcLi{
	height:30px;
}

.listDiv ul li{
	border-bottom:1px solid #ddd;
	line-height:30px;
	text-align:left;
}
.delete, .export{
	width:70px;
	background-color:#ddd;
	margin-left:16px;
	text-align:center;
	cursor:pointer;
}
.listDiv ul li span{
	text-align:center;
	display:inline-block;
}
.listDiv ul li input[type=checkbox], li label, li span{
	vertical-align:middle;
}
.listDiv ul li span input[type=button]{
	height:25px;
}
.siteDiv .all{
	width:80px;
}
.fileDiv .all,.pageDiv .all{
	width:56px;
}
.siteDiv .index{
	width:60px;
}
.fileDiv .index,.pageDiv .all{
	width:56px;
}
.siteDiv .name{
	width:200px;
	text-align:left;
}
.fileDiv .name, .pageDiv .name{
	width:50px;
}
.listDiv .name{
	word-break: break-word;
}
.siteDiv .fileloc{
	width:150px;
}
.fileDiv .fileloc, .pageDiv .fileloc{
	width:50px;
}
.listDiv .fileloc{
	word-break:break-word;
}
.listDiv .kwd{
	width:90px;
	text-align:left;
}
.licon .context{
	width:750px;
	text-align:left;
}
.listDiv .URL{
	word-break: break-word;
}

.fileDiv .URL, .pageDiv .URL{
	width:50px;
}
.listDiv .URL{
	cursor:pointer;
	color:#000;
	text-decoration:none;
	vertical-align:middle;
	height:inherit;
	text-align:center;
}

.listDiv .URL:hover{
	text-decoration:underline;
}
.siteDiv .URL{
	width:400px;
	text-align:left;
}
.listDiv .head{
	text-decoration:none;
	cursor:auto;
}
.listDiv .head:hover{
	text-decoration:none;
	cursor:auto;
}
.siteDiv .type{
	width:50px;
}
.fileDiv .type, .pageDiv .type{
	width:60px;
}
.siteDiv .secureCnt{
	width:75px;
}
.fileDiv .secureCnt, .pageDiv .secureCnt{
	width:50px;
}
.siteDiv .secureResult{
	width:75px;
}
.fileDiv .secureResult, .pageDiv .secureResult{
	width:50px;
}
.listDiv .operation input{
	height:25px;
}
.listDiv .contextB, .listDiv .contextSpan{
	display:inline;
	font-weight:inherit;
}
.siteDiv .time{
	width:235px;
}
.siteDiv .ratio{
	width:135px;
}
.listDiv .operation{
	width:60px;
}
.siteDiv .detail{
	width:70px;
}
.siteDiv .report{
	width:70px;
}
.siteDiv .status{
	width:72px;
}


/**
* 页码样式
*/
#pageDiv{
	font-size: 18px;
    font-family: microsoft yahei;
    text-align: center;
    margin-top: 20px;
}
#pageDiv a{
	text-decoration:none;
	color:#000;
	margin-left:10px;
}
.mask{
	width:100%;
	height:100%;
}
/* .styleProp{
	margin: auto;
    vertical-align: middle;
    height: 40%;
    width: 50%;
    background-color: pink;
    position: absolute;
    top: 30%;
    left: 25%;
    border: 1px solid gray;
}
.styleProp>div{
	text-align:center;
	height:60px;
}
.styleProp>div>span{
	line-height:60px;
}
.styleProp input{
	margin-left: 10px;
    vertical-align: middle;
} */